<div class="jumbotron shadow">
    <h1>About The Chalice</h1>
    <p>It all started one late fancy night ago at the Swinomish Casino. One of us had ordered an Irish Mule. 
    Although I’d like to say that I’m rather experienced with my alcohol, I was not privy to this style of drink or the drink-ware that this tasty beverage would be served in.  
    I was ill prepared for the beautiful, shimmering, glorious container of booze and awesomeness.  
    Instantly, I knew we must have this cup, it would be ours. Our precious.  
    At the graciousness of our host failing to be keen enough to see us remove this cup from the dining room, we made off with our booty.  
    We joked that this cup had to be straight out of the Indiana Jones movies. It was more than a mere cup.  It was a Chalice.  
    Oh boy, did we ever party with The Chalice that night.  On a subsequent return to our favorite watering hole, we come up with the idea that The Chalice should accompany us on all of our travels. 
    It was at that moment that the idea of “Chase the Chalice” was born. This is our pinboard to place pictures with captions to chronicle the travels of The Chalice. 
    Check in regularly to Chase The Chalice and see where it has been.</p>
    <h2><em>Cheers!</em></h2>
    <h2><em>Dale</em></h2>
</div>