<div class="jumbotron">
    
    <h1>Welcome to My First Rails App</h1>
    <p>Soon, I shall be kicking some ass, wootertons!</p>
    <%= link_to 'Home', root_path, class: 'btn btn-primary' %>
    <%= link_to 'About', home_about_path, class: 'btn btn-default' %>
    <!--Pretty cool shit!! -->    
    
</div>



