<p>Welcome to Chase The Chalice, <%= @email %>!</p>

<p>By clicking the link below and confirming your email address, you'll be able to post pins to the pinboard.</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
